*
{
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

table
{
	width: 100%;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
}

th, td
{
	border-style: solid;
}

th
{
	color: #ffffff;
	background-color: #333333;
	border-width: 1px;
	padding: 1px 2px 1px 2px;
}

td
{
	border-width: 1px;
	padding: 1px 2px 1px 2px;
}

input, select
{
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
}

#panel
{
	position: absolute;
	color: #000000;
	background-color: #ffffff;
	top: 0px;
	height: 60px;
	left: 0px;
	right: 0px;
	z-index: 1000;

	padding: 2px;
	border-style: none;
	border-width: 0px;

	overflow-y: scroll;
}

#contents
{
	position: absolute;
	top: 60px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 0;

	padding: 0px;
	border-style: none;
	border-width: 0px;
	bottom: 0px;

	overflow-x: scroll;
	overflow-y: scroll;
}

.ActiveRow
{
	background-color: #660000;
}
.ActiveRow td
{
	border-bottom-color: #ff0000;
}

.loading
{
	position:absolute;
	left: 0px;
	right: 0px;
}
.loading div
{
	position: absolute;
	top: 50%;
	left: 50%;
}

.number, .datetime
{
	text-align: right;
	font-family: monospace;
}

.monotype
{
	font-family: monospace;
}

.l
{
	border-right-style: dashed;
	border-right-width: 0.25px;
}

.c
{
	border-left-style: dashed;
	border-left-width: 0.25px;
	border-right-style: dashed;
	border-right-width: 0.25px;
}

.r
{
	border-left-style: dashed;
	border-left-width: 0.25px;
}

.t
{
	border-bottom-style: dashed;
	border-bottom-width: 0.25px;
}

.m
{
	border-bottom-style: dashed;
	border-bottom-width: 0.25px;
	border-top-style: dashed;
	border-top-width: 0.25px;
}

.b
{
	border-top-style: dashed;
	border-top-width: 0.25px;
}

.rob
{
	color: 000000;
	background-color: #ffffff;
}



.left
{
	text-align: left;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}



.m
{
	font-size: 8.75pt;
}


.s
{
	font-size: 7.5pt;
}

.block
{
	display: block;
}

.inline
{
	display: inline;
	padding: 0px 1px;
}

input.button {
	font-size: 10px;
	min-width: 80px;
	display: inline-block;
	text-align: center;
	padding: 4px 0 4px;
	margin: 1px 0px 2px;
	color: #ffffff;
	background-color: #444444;
	border-radius: 10px;
	box-shadow: 2px 2px #999999;
} 