*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #99aacc;
	background-color: #001133;
	height: 40px;
}

#contents
{
	top: 44px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

#DisplayCondsPanel input
{
	margin: 2px 2px;
}

.user
{
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}

.description
{
	color: #aaaaaa;
	white-space: normal;
	word-wrap: normal;
	word-break: break-all;
}

.itemLevel
{
	color: #ff4488;
}