*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#contents
{
	top: 0px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

#contents th
{
	color: #ccaacc;
	background-color: #220022;
}

.oddRow
{
	background-color: #000000;
}
.oddRow td
{
	border-bottom-color: #008800;
}

.evenRow
{
	background-color: #000000;
}
.evenRow td
{
	border-bottom-color: #880088;
}

.head
{
	text-align: center;
/*	font-weight: 900;*/
}