*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#contents
{
	top: 0px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

th
{
	overflow: hidden;
}

.bar
{
	display: inline-block;
	height : 13px;
	font-size: 13px;
	font-family: monospace;
}

.max
{
	background-color: #880000;
}

.before
{
	background-color: #004488;
}

.after
{
	background-color: #008800;
}

#getShip
{
	margin-top: 2px;
}

#getShip th
{
	width: 100px;
}

.轟沈
{
/*	color: #444444; */
	color: #00cccc;
}

.大破
{
	color: #ff0000;
}

.中破
{
	color: #ff8800;
}

.小破
{
	color: #ffff00;
}

.微損
{
	color: #00ff88;
}

.正常
{
	color: inherit;
}
