*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #ccbbaa;
	background-color: #332211;
	height: 65px;
}

#contents
{
	top: 69px;
	vertical-align: middle;
	background-color: #222222;
	padding: auto;

	overflow: hidden;
}

#widthValue, #heighthValue
{
	width: 80px;
	display: inline-block;
}

#canvas
{
}

#format
{
	width: 60px;
}