*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

th
{
	color: #aadddd;
	background-color: #224444;
	font-weight: 900;
	padding: 2px;
}

#panel
{
	color: #99cccc;
	background-color: #113333;
	height: 20px;
}

#contents
{
	top: 24px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

#DisplayCondsPanel input
{
	margin: 2px 2px;
}

#contents th, #contents td
{
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}
.description
{
	color: #aaaaaa;
	white-space: normal;
	word-wrap: normal;
	word-break: break-all;
}

.judge
{
	font-family: monospace;
}
