*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #cccc99;
	background-color: #111100;
	height: 60px;
}

#contents
{
	top: 64px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}
#DisplayCondsPanel input
{
	margin: 2px 2px;
}

.description
{
	color: #aaaaaa;
	white-space: normal;
	word-wrap: normal;
	word-break: break-all;
}