*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #cc9999;
	background-color: #221111;
	height: 20px;
}

#contents
{
	top: 24px;
}

#contents th, #contents td
{
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

#SettingPanel input
{
	margin: 2px 2px;
}

#DisplayCondsPanel input
{
	margin: 2px 2px;
}

.deckHead
{
	color: #cc9999;
	background-color: #331111;
	font-weight: 900;
	padding: 2px;
}

.total td
{
	background-color: #442222;
}

.table td, .table th
{
	height: 18px;
}