*
{
    overflow: hidden;
}

#game_frame
{
    position: fixed;
    overflow: hidden;
    top: -15px;
    left: 0px;
    height: 480px;
    width: 800px;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    border-style: none;
}