*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#contents
{
	top: 0px;
}

.log
{
	padding: 2px 8px;
}

.oddRow
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #008800;
}

.evenRow
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #880088;
}
