*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #99aacc;
	background-color: #112233;
	height: 60px;
}

#contents
{
	top: 64px;
}

#contents th, #contents td
{
	height: 18px;
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

.indock
{
	color: #bbddff;
	background-color: #334455;
}

.schedule
{
	color: #00ffff;
}

#order
{
	width: 150px;
}

.lb
{
	border-left-width: 3px;
}

.rb
{
	border-right-width: 3px;
}