*
{
}

body
{
	position:static;
	color: #000000;
	background-color: #000000;
}

#contents
{
	top: 0px;
}

.setting
{
	color: #ffffff;
	background-color: #002211;
	margin: 3px;
	border-style: solid;
	border-color: #448844;
	border-width: 1px;
	padding: 2px;
}

.setting .title
{
	color: #ffffff;
	background-color: #448844;
}

.discription
{
	margin: 2px 3px 3px 3px;
}

input
{
	margin-left: 3px;
	margin-right: 3px;
}

.testPlay
{
	text-decoration: underline;
	cursor: pointer;
}