*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #cc99aa;
	background-color: #330011;
	height: 60px;
}

#contents
{
	top: 64px;
}

#contents th, #contents td
{
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}
#DisplayCondsPanel input
{
	margin: 2px 2px;
}

.改修MAX
{
	background-color: #444444;
	color: #888888;
}

.轟沈
{
	background-color: #444444;
	color: #888888;
}

.大破
{
	background-color: #ff0000;
	color: #ffffff;
}

.中破
{
	background-color: #ff8800;
	color: #ffffff;
}

.小破
{
	background-color: #ffff00;
	color: #000000;
}

.微損
{
	background-color: #00ff88;
	color: #000000;
}

.正常
{
	background-color: inherit;
	color: inherit;
}

.きらきら
{
	background-color: #888800;
	color: #ffffaa;
}

.間宮
{
	background-color: #00ff88;
	color: #000000;
}

.疲労
{
	background-color: #ff8800;
	color: #ffffff;
}

.強疲労
{
	background-color: #ff0000;
	color: #ffffff;
}

.補給
{
	background-color: #ffaa00;
	color: #ff0000;
}

.第一艦隊
{
	color: #ff0088;
}

.第二艦隊
{
	color: #00aaff;
}

.第三艦隊
{
	color: #ff8800;
}

.第四艦隊
{
	color: #88ff00;
}
.改造可
{
	background-color: #888800;
	color: #ffffaa;
}