*
{
}

body
{
	position:static;
	color: #ffffff;
	background-color: #000000;
}

#panel
{
	color: #99ccaa;
	background-color: #003311;
	height: 20px;
}

#contents
{
	top: 24px;
}

#contents th, #contents td
{
	white-space: nowrap;
	word-wrap: normal;
	word-break: keep-all;
}

#SettingPanel input
{
	margin: 2px 2px;
}

.timerHead
{
	color: #bbeecc;
	background-color: #225533;
	font-weight: 900;
	padding: 2px;
}

.table td, .table th
{
	height: 18px;
}

.終了
{
	background-color: #888800;
	color: #ffffaa;
	text-align: center;
}